body{
   
}

#calculatorContainer{
    width: 500px;
    height: 500px;
    background-color: gray;
    border: 10px solid black;
    margin: auto;
}
#display{
    width: 500px;
    height: 100px;
    background: gray;
    border-bottom: 5px solid black;
    font-size: 40px;
    
}
#buttonContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.number{
    display: grid;
    width: 1fr;
    height: 86.5px;
    text-align: center;
}

.operation{
    display: grid;
    width: 1fr;
    height: 86.5px;
}

#miscButtons{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 50px;
}

